<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
</head>

<body class="container">

    <header>
        <%- include('./header'); %>
    </header>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <!-- <h1>See All User Data</h1>
            <p>Welcome to templating using EJS</p> -->
            <div class="container">
                <h1 class="display-4"><%=title%></h1>
                <p><%=error%></p>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./footer'); %>
    </footer>

</body>

</html>